* {
  margin: 0px;
}
.App {
  text-align: center;
}

.appHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid yellow;
}

.scoreBoard {
  margin:auto;
  margin-right: 0px;
  border: 1px solid red;
  width: 100px;
  height: 100px;
}

.dummy1, .dummy2, .dummy3, .dummy4, .dummy5 {
  border: 1px solid green;
  width: 200px;
  height: 200px;
}